<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="mainContainer"> 
        <div class="header">
            <div>
                <img src="scclogo.webp" alt="logo">
                <h1>GRADESYNC: GRADING MANAGEMENT INFORMATION SYSTEM </h1>
            </div>
            <img src="infoIcon.png" alt="infoIcon">
        </div>
        <div class="loginContainer">
            <form action="/login" method="POST">
                <div class="logHeader">
                    <h1>LOGIN FORM</h1>
                </div>
                <div class="radioSec">
                    <input type="radio" id="teacher" name="typeOfUser" value="TEACHER">
                    <label for="teacher">Teacher</label>
                    <input type="radio" id="admin" name="typeOfUser" value="ADMIN">
                    <label for="teacher">Admin</label>
                </div>
                <div class="emailSec">
                    <img src="user (1).png" alt="usernameIcon">
                    <input type="text" placeholder="Username" id="email">
                </div>
                <div class="passSec">
                    <img src="padlock.png" alt="passIcon"> 
                    <input type="password" placeholder="Password" id="password">
                </div>
                <input type="submit" id="loginBtn" value="LOGIN">
                <p>Don't have an account yet? <a href="/register" target="_self"><scan id="register">Register here</scan></a></p>
            </form>
        </div>
    </div>

    <script src="login.js"></script>
    
</body>
</html>