@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* body default color - rgb(0, 56, 177)*/
* {
    margin: 0px;
    padding: 0px;
}

body {
     /*rgb(0, 56, 177)*/
    /*background-color: rgb(39, 47, 151);*/
    background-image: url(sccBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    top: 0;
    border-bottom:5px solid rgb(240, 236, 41);
}

.header div {
    display: flex;
    column-gap: 13px;
    align-items: center;
    margin-left:21px
}

.header img {
    width: 21px;
    margin-right: 27px;
}.header img:hover{cursor: pointer;}

.header div img{
    width: 54px;
}

.header div h1 {
    color: #3c4173;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 30px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerContainer {
    margin-top: 40px;
}

form {
    background-color: #fff;
    padding: 40px 38px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    box-shadow: 0 0 10px gray;
}

form .logHeader {
    display: flex;
    align-items: center;
    column-gap: 17px;
    margin-bottom: 30px;
}
form .logHeader img {width: 55px;}

@font-face {
    font-family: gagalin;
    src: url(Gagalin-Regular.otf);
}
form .logHeader h1, .regPt1Container h1 {
    font-family: gagalin;
    color: #e5e916; 
    letter-spacing: 4px; 
    text-shadow: blue 3px 4px;
    font-size: 48px;
}

form p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color:#a8a8a8;
    margin-top: 10px;
}

#login {
    color: #e6e923;
    font-weight: 700;
    text-decoration: underline;
    transition: 0.2s;
}

#login:hover{
    color: #3c4173;
}

.label--input {
    display: flex;
    column-gap: 25px;
}
.l--o--left, .l--o--right{
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 9px;
}
label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:#3c4173;
}


#registerBtn {
    background-color: rgb(9, 50, 110);
    color: #fff;
    border-radius: 5px;
    padding:  9px 9px;
    border: none;
    width: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s;
}

#registerBtn:hover {
    background-color: #e5e916;
    color: black;
}

/*===========================*/
select {
    width: 201px;
    padding: 9px 9px;
    background-color: rgb(226, 249, 250);
    border-radius: 5px;
    border: none;
    height: 35px;
}

.l--o--left input, .l--o--right input{
    padding: 9px 9px;
    background-color: rgb(226, 249, 250);
    border-radius: 5px;
    border: none;
    height: 17px;
    width: 180px
}