* {
    margin-top: 0;
    margin-bottom:0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: gagalin;
    src: url(/TRYYYY/Gagalin-Regular.otf);
}

.maincon {
    display: flex;
}

.main {
    margin-left: 23rem;
    margin-top: 30px;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeader h1 {
    font-family: gagalin ;
    font-size: 50px;
    letter-spacing: 3px;
    width: 500px;
}

#back {
    border: none;
    background-color: #fff;
    width:40px;
    transition: 0.3s;
}

#back:hover {
    cursor: pointer;
}
.studentList {
    color:#fff;
    background-color: rgb(243, 208, 7);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    padding: 5px 10px;
    transition: 0.3s;
}

.studentList:hover{
    background-color: rgb(163, 160, 1);
}

.inputs--buttons--Container {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.inputs--buttons--Container label {
    font-size: 20px;
}

.taskName {height: 22px; width: 150px;}
.maxScore {height: 22px; width: 80px;}

.clear {
    height: 28px;
    color:#fff;
    background-color: rgb(45, 45, 58);
    border: none;
    border-radius:2px;
    font-weight: 700;
    width: 60px;
}

.clear:hover {
    cursor: pointer;
}

.addWW, .addPT, .addExam {
    height:30px;
    width: 90px;
    background-color: rgb(7, 117, 243);
    font-weight: 700;
    color:#fff;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

.addWW:hover, .addPT:hover, .addExam:hover{
    background-color: rgb(1, 86, 182);
    opacity: 0.5;
}

.component--rate--Container{
    position: absolute;
    top: 18rem;
    left: 40rem;
    width: 50%;
}

.component--rate--Section{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px 20px 0px 20px; 
    box-shadow: 0 0 5px rgb(175, 174, 174);
    width:350px;
    height: 180px;
}

.componentRateHeader {
    display: flex;
    justify-content: space-between;
}

.componentTitle {
    font-family: gagalin;
    letter-spacing: 1px;
    color:/*rgb(3, 93, 211)*/ rgb(0, 35, 133)
}

.exit {
    background-color: #fff;
    border:none;
}

.exit:hover{cursor:pointer};

.crsl {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    font-weight: 700;
    font-size: 19px;
    margin-top: 10px;
}

.rateInput {
    height: 25px;
    margin-top:6px;
}
.saveRate {
    padding: 10px 10px;
    font-weight: 700;
    color:#fff;
    background-color: rgb(255, 208, 0);
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    position:relative;
    margin-left: 80%;
}

.saveRate:hover {
    opacity: 0.6;
    cursor: pointer;
}

.components--tasks--Container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
}

.wwHeader, .ptHeader, .examHeader {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 35, 133);
    color:#fff;
    padding: 10px 10px;
    width:300px;
    align-items: center;
    justify-content: space-between;
}

.settings {
    border: none;
    background-color: rgb(0, 35, 133);
}
#settingsIcon {width: 24px;}

.taskListItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px gray solid;
    padding-bottom: 7px;
    padding-top:7px;
}

.taskListItems div {
    display: flex;
    column-gap: 60px;
}

.taskListItems p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;

}


.addedTaskName{transition: 0.2s;}
.addedTaskName:hover{color: rgb(255, 255, 0); text-decoration: underline;}

.deleteTask {
    background-color: tomato;
    border: none;
    border-radius: 20px;
    width: 40px;
}
/*
.createClassContainer {
    margin-top: 4rem;
    margin-left: 4rem;
    position: absolute;
    top: 100px;
    left: 300px;
    width: 50%;
}
*/

.sideBar {
    background-color: rgb(6, 6, 185);
    position: fixed;
    width: 320px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}
.header--sb {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 5px solid rgb(172, 172, 24);
    height: 120px;
    column-gap: 12px;
    
}

.header--sb h1{
    color:rgb(90, 1, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.header--sb img {
    width: 50px;
    margin-left: 15px;
}

.itemLinks-sb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homeSec, .recordSec{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    column-gap: 30px;
    padding: 10px;
    border-radius: 6px;
}

.recordSec {
    margin-top: 30px;
}

.homeSec img, .recordSec img {
    width: 40px
}


.accountSec {
    display: flex;
    align-items: center;
    margin-top:  20rem;
    column-gap: 10px;
    margin-left: -4rem;
}

.accountSec img {
    width: 24px;
}

#account {
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
